{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="row">
            <div class="container">
                <div data-alert class="alert-box alert radius">
                    <strong>Fehler</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="container">
                <div class="large-12 columns">
                    <div data-alert class="alert-box success">
                        {{ flash_message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    {% endfor %}
    {% set lastRoute = app.request.query.get("page") %}
    {% if lastRoute == "fos_user_security_login" %}
        {% set lastRoute = "mainPage" %}
    {% endif %}
    <div class="row">
        <div class="container">
            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <input type="hidden" name="_target_path" value="{{ lastRoute }}"/>
                <h4 class="section-heading"><span>MITSWiki</span></h4>
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="row">
                        <div class="column">
                            <div data-alert class="alert-box success">
                                {{ flash_message }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('error') %}
                    <div class="row">
                        <div class="column">
                            <div data-alert class="alert-box alert">
                                {{ flash_message }}
                                <a href="#" class="close">&times;</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="column">
                        <label>USER </label>
                        <input type="text" class="full-width" placeholder="Username"
                               id="username" name="_username" value="{{ last_username }}" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label>PASSWORD </label>
                        <input type="password" class="full-width" placeholder="Password"
                               id="password" name="_password" required="required"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="remember_me">Remember me&nbsp;
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        </label>
                    </div>
                </div>
                <br/>
                <input class="button-submit" type="submit" id="_submit" name="_submit"
                       value="LogIn">

            </form>
        </div>
    </div>
{% endblock fos_user_content %}
